@import "tailwindcss";

@theme {
  /*DARK*/
  --color-bg-dark: oklch(0.1 0.025 264);
  --color-bg: oklch(0.15 0.025 264);
  --color-bg-light: oklch(0.2 0.025 264);

  --color-text: oklch(0.96 0.05 264);
  --color-text-muted: oklch(0.76 0.05 264);

  --color-highlight: oklch(0.5 0.05 264);

  --color-border: oklch(0.4 0.05 264);
  --color-border-muted: oklch(0.3 0.05 264);

  --color-primary: oklch(0.76 0.1 264);
  --color-secondary: oklch(0.76 0.1 84);

  --color-danger: oklch(0.7 0.05 30);
  --color-warning: oklch(0.7 0.05 100);
  --color-success: oklch(0.7 0.05 160);
  --color-info: oklch(0.7 0.05 260);

  /*GREEN*/
  /* --color-bg-dark: oklch(0.12 0.03 160);
  --color-bg: oklch(0.15 0.035 160);
  --color-bg-light: oklch(0.20 0.04 160);

  --color-text: oklch(0.95 0.04 160);
  --color-text-muted: oklch(0.75 0.05 160);

  --color-highlight: oklch(0.55 0.08 160);

  --color-border: oklch(0.35 0.05 160);
  --color-border-muted: oklch(0.25 0.04 160);

  --color-primary: oklch(0.78 0.15 150);
  --color-secondary: oklch(0.60 0.10 155);

  --color-danger: oklch(0.70 0.10 30);
  --color-warning: oklch(0.75 0.10 90);
  --color-success: oklch(0.75 0.12 155);
  --color-info: oklch(0.70 0.08 210); */

  /* GRAY */
  /* --color-bg-dark: oklch(0.11 0.025 240);
  --color-bg: oklch(0.15 0.025 240);
  --color-bg-light: oklch(0.20 0.025 240);

  --color-text: oklch(0.95 0.04 240);
  --color-text-muted: oklch(0.75 0.05 240);

  --color-highlight: oklch(0.55 0.07 190);

  --color-border: oklch(0.35 0.05 240);
  --color-border-muted: oklch(0.25 0.04 240);

  --color-primary: oklch(0.70 0.13 190);
  --color-secondary: oklch(0.70 0.13 10);

  --color-danger: oklch(0.70 0.10 25);
  --color-warning: oklch(0.75 0.10 85);
  --color-success: oklch(0.75 0.10 155);
  --color-info: oklch(0.75 0.10 220); */

  /* CYAN */
  /* --color-bg-dark: oklch(0.10 0.03 250);
  --color-bg: oklch(0.14 0.035 250);
  --color-bg-light: oklch(0.18 0.04 250);

  --color-text: oklch(0.95 0.04 250);
  --color-text-muted: oklch(0.75 0.05 250);

  --color-highlight: oklch(0.55 0.08 250);

  --color-border: oklch(0.35 0.05 250);
  --color-border-muted: oklch(0.25 0.04 250);

  --color-primary: oklch(0.75 0.15 220);
  --color-secondary: oklch(0.75 0.15 70);

  --color-danger: oklch(0.70 0.10 30);
  --color-warning: oklch(0.75 0.10 90);
  --color-success: oklch(0.75 0.10 160);
  --color-info: oklch(0.78 0.12 230); */
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@utility slide-up {
  animation: slide-up 0.5s ease-out forwards;
}

@utility slide-down {
  animation: slide-down 0.5s ease-in forwards;
}