@import "tailwindcss";

@theme {
  --color-bg-dark: oklch(0.1 0.025 264);
  --color-bg: oklch(0.15 0.025 264);
  --color-bg-light: oklch(0.2 0.025 264);

  --color-text: oklch(0.96 0.05 264);
  --color-text-muted: oklch(0.76 0.05 264);

  --color-highlight: oklch(0.5 0.05 264);

  --color-border: oklch(0.4 0.05 264);
  --color-border-muted: oklch(0.3 0.05 264);

  --color-primary: oklch(0.76 0.1 264);
  --color-secondary: oklch(0.76 0.1 84);

  --color-danger: oklch(0.7 0.05 30);
  --color-warning: oklch(0.7 0.05 100);
  --color-success: oklch(0.7 0.05 160);
  --color-info: oklch(0.7 0.05 260);
}
